@import "./_variables";
@import "./copmonents/all";


.body {
  font-size: 14px;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: $black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(7, 7, 7);
  border-radius: 10px;
}

.App {
  background-color: rgb(28, 28, 30);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $grey;
}

// Слайдер
.slick-prev {
  left: 15px !important;

}

.slick-next {
  right: 15px !important;
}

.slick-prev,
.slick-next {
  z-index: 10;
  top: 45% !important;
  transform: translateY(-50%);

  @media screen and(max-width: 768px) {
    display: none !important;
  }
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.slider {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 7%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%) !important;
    z-index: 9;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%) !important;
    z-index: 9;
  }
}


// Основной контент
.main {
  width: 100%;
  border: 2px solid red;

  // Левое меню исчезло
  @media screen and (min-width: 1200px) {
    padding-left: 255px;
    padding-right: 310px;
  }

  @media screen and (min-width: 768px) and (max-width:1200px) {
    padding-left: 255px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }

  @media screen and (min-width:768px) {
    &--expanded-for-aside-mini {
      padding-left: 40.25px;
    }
  }

  @media screen and (min-width: 1200px) {
    &--without-right-bar {
      padding-right: 0;
    }
  }
}

// Дополнительный контент
.right-bar {
  display: none;
  width: 310px;
  height: 100%;
  padding: 24px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
  }

  &--dynamic {
    display: block;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      padding: 0px;
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }

  &.hide {
    display: none;
  }

}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.movie-grid {
  --bs-columns: 20;
}

.not-found {
  z-index: 1001;
  background-color: $black;
  text-align: center;

  .not-found__inner {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width:768px) {
      width: 100%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  --swiper-navigation-size: 17px;
  position: absolute;
}

.swiper-button-prev {
  top: 30px;
  left: 20px;
}

.swiper-button-next {
  top: 30px;
  left: 40px;
}